<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Omid's Website</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
		<header id = "header">
			<nav id="nav">
				<ul>
					<li><a href="/index">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</nav>
		</header>
		<h1> About Us </h1>
		<p>Hey there! My Name is Omid Zargham. I'm a UC Berkeley student studying Cognitive Science.</p>

		<footer class ="footer">
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</footer>
	</body>
</html>
	
