<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Omid's Website</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
		<header id = "header">
			<nav id="nav">
				<ul>
					<li><a href="/index">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</nav>
		</header>
		<p id = "messageArea"></p>
		<h1>Contact Us</h1>
		<form action="/contact/hi" id= "form" method="POST">
			<label for="inputName">Name</label>
			<input type="text" name="inputName" id="inputName"/>
			<br><br>
			<label for="subject">Subject</label>
			<input type="text" name="subject" id="subject"/>
			<br><br>
			<label for="message">Message</label>
			<input type="text" name="message" id="message"/>
			<br><br>
			<input type="submit" value="Submit"/>
			<br>
			<br>
			<textarea>{{add_to_body}}</textarea>
			
		</form>

		<footer class ="footer">
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</footer>
		<script src="/static/js/script.js"></script>
	</body>
</html>
	

	
